<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE99AAA41A0F5432001B9AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE99AABB1A0F5432001B9AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
